* {
  padding: 0;
  margin: 0px;
  border: 0px;
}
*, *:before, *:after {
  box-sizing: border-box;   
}
a:focus, a:acitve {
outline: none;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}      
nav, footer, header, aside, section {
  display: block;
}

html, body {   
  margin: 0;
  padding: 0;   
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;   
  color: #f7f7f7;
}
.wrapper {
  background-color: #02160B;
}
.wrapper-top {   
  max-width: 1440px;
  height: 776px;
  margin: 0 auto;
  background: #02160B url('assets/wildlife_bg.jpg') no-repeat center;  
  background-size: cover;   
}
.container {
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;   
} 

/* === HEADER ===*/

.header {
  width: 100%; 
  padding-top: 15px; 
  padding-bottom: 115px;
}  
.header__inner {
  display: flex;
  justify-content: space-between;   
}
.logo {
  display: flex;   
}
.logo__link {
  margin-right: 15px;
}
.logo__title{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #F7F7F7;
}
.nav__list {
  display: flex;  
  justify-content: space-between; 
  align-items: center;   
}
.nav__item {
  margin-left: 65px;   
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__link {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #F7F7F7; 
  transition: transform 1s ease; 
}
.nav__link:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.nav__link-img {
  display: inline-block;
}
.nav__list .nav__link-signIn {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 27px;
  border: 2px solid #CD6326;
  border-radius: 5px;
  padding: 10px 24px; 
  color: #F7F7F7;  
}
.nav__link-signIn:hover {
  background-color: #CD6326;
}
.nav__link-signIn:active {
  background-color: #8F5515;
}